
<div class="jumbotron" id="welcome-tron">
  <div class="container-fluid text-center">
    <h1>Welcome to Berliner Bikes</h1>
    <h2>Your source for used bikes in Berlin</h2>
  </div>
</div>  

<div id="img_bike">
  <%= image_tag("racebike.jpg", class: "img-responsive", size: "500x500", style: "margin-left: 370px") %>
</div>  
