
<div class="jumbotron" id="welcome-tron">
  <div class="container-fluid text-center">
    <h1>Welcome to DistantCoveDesigns</h1>
    <h2>We make pieces we like to be around.</h2>
  </div>
</div>  

<div id="img_bike">
  <%= image_tag("http://placehold.it/500x500", class: "img-responsive fix-margin", size: "500x500", style: "margin-left: 370px") %>
</div>  
