// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0 auto;
  padding: 0px;
}

body {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
}

h1, h2 {
    font-family: 'Inconsolata','Roboto','Open Sans', sans-serif;
    text-align: center;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
  }

@import "bootstrap-sprockets";
@import "bootstrap";

#nav-container {
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100;
}

#brand {
  color: #000000;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus  {
  color: #FF99FF;
}

.navbar-default .navbar-nav > li > a {
    color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #00FFCC;
}

form#search-products{
  padding: 15px;
  margin: 0px;
}


#welcome-tron {
	align-text: 0px;
}


#search-bar {
  align-text: right;	
}

input#search-button {
  font-weight: bold;
  width: 50px;
  text-align: left;
  padding-right: 0px;
  padding-left: 5px;
  padding-bottom: 7px;
  border-width: 2px;
  width: 54.22222px;
  }

.carousel-inner > .item > img {
margin: 0 auto;
width: 1200px;
height: 675px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}


.footer {
  bottom: 0;
  margin-top: 40px;
  width: 100%;
  height:60px;
  background-color: #FFFFFF;	
  clear: both;
} 

#copyright {
  padding: 40px 0px 0px 10px;
  font-size: 0.8em;
  font-weight: bold;
  color: #000000;
}

// CONTACT PAGE

#contact {
  text-align: left;
  padding-top: 100px;
  font-family: 'Inconsolata','Roboto','Open Sans', sans-serif;

}

#contact-form {
  padding-left: 30px;
}

#send-btn {
  padding-left: 20px;
}

// INDEX PAGE STYLES

#welcome-tron {
  background-color:  #FFFFFF;
}

// PRODUCTS PAGE STYLES

.col-md-3 {
  width: 25%;
  height: 500px;
  overflow: hidden;
}

// LOGIN PAGE STYLES

#new_user {
  padding-left: 20px;
}

#sign_up {
  padding-left: 20px;
}


// FONTS

#nav-container {
  font-family: 'Inconsolata','Roboto','Open Sans', sans-serif;
}

.col-md-3 {
  font-family: 'Inconsolata','Roboto','Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inconsolata','Roboto','Open Sans', sans-serif;
}

p, div, body {
    font-family: 'Inconsolata','Roboto','Open Sans', sans-serif;
}




